/**
  Login form
*/
#login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#login_form input.success {
  border: solid 1px #008000;
  color: #008000;
}

#login_form input.error {
  border: solid 1px #f40000;
}

#login_form input.error::-webkit-input-placeholder {
  color: #f40000;
}

#login_form input.error:-ms-input-placeholder {
  color: #f40000;
}

#login_form input.error::-ms-input-placeholder {
  color: #f40000;
}

#login_form input.error::placeholder {
  color: #f40000;
}

/**
  HOMEPAGE
*/
#homeView header {
  text-align: center;
  border-radius: 0;
  margin: 0;
}

#homeView main .introduction_text {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

#homeView main .card .card-body h5 {
  text-align: center;
}

/**
  EDITPAGE
*/
#editView .jumbotron {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background: #e5e65a;
}

#editView .jumbotron span {
  font-size: 2em;
  font-weight: 700;
  margin-right: 5px;
}

#editView .jumbotron h1 {
  text-shadow: 4px 4px #fff;
}

#editView div#nav-tab {
  margin-top: -40px;
  border: none;
}

#editView .nav-tabs .nav-link {
  color: #000;
  border: none;
}

#editView .nav-tabs .nav-link.active {
  color: inherit;
  border: solid 1px transparent;
  border-color: #dee2e6 #dee2e6 #fff;
}

#editView .tab-content {
  padding-top: 15px;
}

/**
  loadingView
*/
#loadingView {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loadingView .img-container {
  position: relative;
}

#loadingView .img-container > img {
  border: none;
  width: 100%;
}

/**
  ERROR VIEW 
*/
#errorView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/404-snow.gif") center center no-repeat;
  background-size: contain;
}

#errorView .center-content {
  text-align: center;
}

#errorView .center-content h1 {
  color: #212121;
  font-size: 4em;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
}

#errorView .center-content p {
  font-size: 2em;
  font-weight: bold;
  -webkit-text-stroke: 1px #fff;
}

/**
  CUSTOM CLASS LIBARY
*/
.pb-15 {
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}
/*# sourceMappingURL=style.css.map */