$red: #f40000;
$green: #008000;
$white: #fff;
$black: #212121;

/**
  Login form
*/
#login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  input {
    &.success {
      border: solid 1px $green;
      color: $green;
    }

    &.error {
      border: solid 1px $red;

      &::placeholder {
        color: $red;
      }
    }
  }
}

// #mainNav {
//   .username-label {
//   }
// }

/**
  HOMEPAGE
*/
#homeView {
  header {
    text-align: center;
    border-radius: 0;
    margin: 0;
  }

  main {
    .introduction_text {
      text-align: center;
      font-size: 18px;
      margin-top: 15px;
    }

    .card {
      .project-img {
        height: 250px;
      }
    }
  }
}

/**
  EDITPAGE
*/
#editView {
  .jumbotron {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: #e5e65a;

    span {
      font-size: 2em;
      font-weight: 700;
      margin-right: 5px;
    }

    h1 {
      text-shadow: 4px 4px $white;
    }
  }

  div#nav-tab {
    margin-top: -40px;
    border: none;
  }
  .nav-tabs .nav-link {
    color: #000;
    border: none;
  }
  .nav-tabs .nav-link.active {
    color: inherit;
    border: solid 1px transparent;
    border-color: #dee2e6 #dee2e6 #fff;
  }

  .tab-content {
    padding-top: 15px;
  }
}

/**
  loadingView
*/
#loadingView {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .img-container {
    position: relative;

    & > img {
      border: none;
      width: 100%;
    }
  }
}

/**
  ERROR VIEW 
*/
#errorView {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../images/404-snow.gif") center center no-repeat;
  background-size: contain;

  .center-content {
    text-align: center;
    h1 {
      color: $black;
      font-size: 4em;
      text-transform: uppercase;
      -webkit-text-stroke: 2px $white;
    }
    p {
      font-size: 2em;
      font-weight: bold;
      -webkit-text-stroke: 1px $white;
    }
  }
}

/**
  CUSTOM CLASS LIBARY
*/
.pb-15 {
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}
